<project_type>{{ project_type }}</project_type>
<detail_level>{{ detail_level }}</detail_level>
<output_format>{{ output_format }}</output_format>

<project_description>
{{ description }}
</project_description>
